*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Italiana', serif;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}


/** Slider styles **/
.slider {
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    object-fit: cover;
    overflow: hidden;
    height: 100vh;

    /* clip-path: polygon(0 0, 100% 0, 100% 49%, 0% 100%); */
}

.sliderWrapper {
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out ;
    padding-top: 20vh;
}

.sliderItem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}



.sliderImg {
    z-index: 1;
}

.sliderTitle {
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    right: 2em;
    top: 1em;
    color: white;
    text-align: center;
    z-index: 1;
}

.sliderPrice {
    position: absolute;
    font-size: 4rem;
    font-weight: 900;
    left: 1.5em;
    top: 1em;
    color: white;
    text-align: center;
    z-index: 1;
}

.sliderButton {
    position: absolute;
    top: 10em;
    right: 5em;
    background: white;
    font-size: 2rem;
    font-weight: 700;
    padding: 0.5em 1.5em;
    margin-top: 4em;
    z-index: 1;
}

.sliderButton:hover {
    background: black;
    color: white;
    z-index: 1;
}

.sliderBg {
    width: 45em;
    height: 45em;
    position: absolute;
    clip-path: polygon(20% 0%, 99% 35%, 98% 81%, 0 88%);
}

.sliderItem:nth-child(1) .sliderBg {
    background-color: teal;
}


